.order-review-container{

    display: flex;
    
    flex-direction: column;

    justify-content: space-between;

    width: 100%;
    
    margin-top: 145px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    gap:10px;
    
    
}



.order-review{

    display: flex;
    flex-direction: row-reverse;
    

    width: 100%;
    
    gap: 20px;


}






.order-review-data{

    display: flex;
    flex-direction: column;
    
    width: 30%;
    border-radius: 5px;
    border: 1px solid lightgray;

    height:fit-content;
    
}

.cart-products-container{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;

}

.review-order-title{

font-size: 20px;
font-weight: bold;

}

.order-summary{

    display: flex;
    flex-direction: column;
    
    padding: 15px;
    gap: 10px;
    
}

.order-summary-title{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    
}

.order-summary-sections{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    
}

.summary-left-section{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.summary-right-section{

    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.order-total-calculation{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 700;
    color: rgb(177, 39, 4);
    
}

.items-only-calculation{

    display: flex;
    gap: 5px;
    flex-direction: column;
     padding-bottom: 10px;

     font-weight: 350;

}



.items-only-price{
     
    display: flex;
    gap: 5px;
    flex-direction: column;
     padding-bottom: 10px;
      border-bottom: 1px solid lightgray;
      font-weight: 350;

}

.tax-price , .tax-price-calculation{

     display: flex;
    gap: 5px;
    flex-direction: column;
    font-weight: 350;


}

.place-your-order{
    width: 100%;
    padding: 8px;
    border-radius: 20px;
    border:1px solid white;
    background-color: rgb(255, 216, 20);
    
}

.place-your-order:hover{
    cursor: pointer;
    background-color:rgb(247, 196, 26);
}

.cart-products{

    display: flex;
    gap:20px;
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 5px;

}

.delivery-product-container{

    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.delivery-date{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(0, 118, 0);
    font-weight: 750;
}

.cart-product-details-container{
    display: flex;
    gap: 20px;
}

.cart-product-image-container{
    display: flex;
    height: 120px;
    width: 120px;

    align-items: center;
    justify-content: center;
}

.cart-product-image{
    height: 100%;
    width: 100%;
    
    object-fit: contain;
}
.cart-product-details{
    display: flex;
    flex-direction: column;
    gap: 6px;

    min-width: 0;

    
}
.cart-product-name{

    display: flex;
    font-size: 15px;
    font-weight: bold;
    overflow-wrap: break-word;
}



.cart-product-price{

    display: flex;
    font-weight: 600;
    color: rgb(177, 39, 4) ;
}

.cart-product-edit{
    display: flex;
    gap:8px;
    flex-wrap: wrap;
}

.cart-product-update , .cart-product-delete{
    border: none;
    outline: none;
    background: none;
    color:#017cb6 ;
    font-size: 16px;
}

.delivery-options{

    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
    
}

.delivery-option-choose{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 700;
     width: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.delivery-option{
    display: flex;

}

.delivery-date-checkbox-container{
    display: flex;
    gap: 5px;
}

.delivery-date-checkbox-container:hover{
    cursor: pointer;
}

.delivery-date-checkbox{
    transform: scale(1.5);
}

.delivery-date-checkbox:hover{
    cursor: pointer;
}

.delivery-date-checkbox-info{
    display: flex;
    flex-direction: column;
}

.delivery-date-checkbox-day{
    color: rgb(0, 118, 0);
    font-weight: 450;
}

.delivery-date-checkbox-price{
    color: rgb(120, 120, 120);
}







@media (max-width:1200px) {

    .review-order-title{
        align-self: flex-start;
    }

    .order-review-container{
        margin-top: 135px;
        margin-left: 10%;
        margin-right: 10%;
        
        place-content: center;
        max-width: 500px;
        align-self: center;
        
        align-items: center;
        
    }

    .order-review{
        
         display: grid;
        grid-template-columns: minmax(0,500px);
        justify-content: center;

        width: 100%;
        
        

    }

    .order-review-data{

        width: 100%;
        

    
    }

    .cart-products-container{

        width: 100%;
        

    }

    .cart-products{
        flex-direction: column;
    }
    
}